$max-width: 1140px;
$gutter: 3rem;
$border-radius: 3px;
$finger-size: 44px;
//
$color-navy: #083b87;
$color-blue: #01acee;
$color-soft-blue: #f1f6ff;
$color-yellow: #fbbe00;
$color-red: #d63031;
$color-white: #ffffff;
$color-dark: #2d2c2c;

//
$font-family: "Josefin Sans", sans-serif;
$font-size: 16px;
$font-size-small: 0.8em;
