$max-width: 1140px;
$gutter: 3rem;
$border-radius: 3px;
$finger-size: 44px;
//
$color-navy: #083b87;
$color-blue: #01acee;
$color-soft-blue: #f1f6ff;
$color-yellow: #fbbe00;
$color-red: #d63031;
$color-white: #ffffff;
$color-dark: #2d2c2c;
$color-soft-green: #00b894;
$color-grey: #484d55;
$color-grey-2: #777777;
$color-soft-grey: #b1b4b9;
$bgcolor-experience: #f7f7f7;
$color-title: #242525;
$color-h4: #333333;
$color-p: #8c9398;
$color-aqua: #00b894;
$color-soft-aqua: #c9fdf3;
$color-border: #cccccc;
$color-input: #888888;

//
$font-family: "Josefin Sans", sans-serif;
$font-size: 16px;
$font-size-small: 0.9em;

$font-family-2: "Open Sans", "Helvetica Neue", sans-serif;
