html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-2;
  line-height: 1.4;
  font-size: $font-size;
  background-color: #252525;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-white;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter/2;
  padding-right: $gutter/2;

  @include mq() {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

.upper-case {
  text-transform: uppercase;
}
