html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-2;
  line-height: 1.4;
  font-size: $font-size;
  background-color: #252525;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}

h4 {
  text-transform: capitalize;
  color: $color-h4;
  font-size: 1.4em;
  font-weight: 600;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-white;
  letter-spacing: 1px;
}

p {
  color: $color-p;
  font-size: 0.9em;
  line-height: 1.8em;
}

input,
textarea {
  letter-spacing: 1px;
  border: 1px solid $color-border;
  border-radius: 5px;
}

button {
  cursor: pointer;
  font-family: $font-family;
  font-weight: 500;
}

.container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter/2;
  padding-right: $gutter/2;

  @include mq() {
    padding-left: $gutter;
    padding-right: $gutter;
  }
}

.upper-case {
  text-transform: uppercase;
}

.title {
  color: $color-title;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;

  font-size: 3rem;

  @include mq() {
    font-size: 4rem;
  }

  & > span {
    display: block;
  }
}
