.Banner {
  background: url(../images/banner.jpg) no-repeat center;
  background-size: cover;

  padding-bottom: 10em;

  text-align: center;

  &-opacity {
    background: rgba(0, 0, 0, 0.5);
  }

  &-info {
    padding-top: 5em;
    margin-left: auto;
    margin-right: auto;

    @include mq() {
      padding-top: 6em;
      width: 80%;
    }

    @include mq("desktop") {
      padding-top: 10em;
      width: 70%;
    }

    h1 {
      color: $color-white;
      font-size: 3.5em;
      text-transform: uppercase;

      @include mq() {
        font-size: 5em;
      }
      @include mq("desktop") {
        font-size: 6em;
      }
    }
  }

  &-helper {
    font-size: 2.5em;
    transition: 0.5s;

    &:hover {
      color: $color-red;
    }
  }
}
