.Footer {
  background: url(../images/banner.jpg) bottom left no-repeat;
  background-size: cover;

  padding-top: 6em;
  padding-bottom: 6em;

  display: flex;

  &-social {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 1em;
      width: 42px;
      height: 42px;
      border-radius: 4px;
      background-color: $color-white;
      color: $color-grey;
      transition: 0.5s;

      &:hover {
        background-color: $color-red;
        color: $color-white;
      }
    }
  }

  &-copyright-text {
    margin-top: 1.5em;

    color: $color-p;

    a {
      color: currentColor;
      transition: 0.5s;
      &:hover {
        color: $color-white;
      }
    }

    p {
      line-height: 1.5em;
      font-size: 1em;
    }
  }

  &-helper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    &-move-top {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 1.2em;

      background-color: $color-red;
      color: $color-white;
      width: 34px;
      height: 34px;
      border-radius: 4px;
    }
  }
}
