$Header-height: 68px;

.Header {
  height: $Header-height;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-logo {
    width: 50px;
  }

  &-switch {
    left: 2em;
    margin-left: auto;
    padding: 8px 20px;
    font-weight: 700;
    background-color: $color-white;
    color: $color-dark;
    cursor: pointer;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    @include mq {
      display: none;
    }
  }

  &-menu {
    pointer-events: none;
    opacity: 0;
    transition: 0.2s;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: $Header-height;
    padding: 15px 0;
    flex-direction: column;
    background: rgba(16, 16, 16, 0.85);

    .Header.menu-show & {
      pointer-events: auto;
      opacity: 1;
    }

    @include mq() {
      pointer-events: auto;
      position: static;
      opacity: 1;
      transition: 0s;
      margin-left: auto;
      padding: 0;
      background: transparent;
    }
    ul {
      @include mq() {
        display: flex;
        flex-direction: row;
      }
    }
    li {
      height: $finger-size;
      display: flex;

      @include mq() {
        display: flex;
        margin-left: 1.5rem;
      }

      a {
        transition-duration: 0.4s;
        font-size: $font-size-small;
        letter-spacing: 1px;
        align-items: center;
        margin: auto;
        &:hover {
          color: $color-red;
        }
      }

      &.active {
        a {
          color: $color-red;
        }
      }
    }
  }
}
