$Header-height: 68px;

.Header {
  height: $Header-height;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &-logo {
    width: 50px;
  }

  &-switch {
    cursor: pointer;

    left: 2em;
    margin-left: auto;
    padding: 8px 20px;

    background-color: $color-white;
    color: $color-dark;

    font-family: $font-family-2;
    font-weight: 700;

    @include mq {
      display: none;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;

    position: absolute;

    opacity: 0;
    left: 0;
    right: 0;
    top: $Header-height;

    padding: 15px 0;
    background: rgba(16, 16, 16, 0.85);

    .Header.menu-show & {
      pointer-events: auto;
      transition-duration: 0.5s;
      opacity: 1;
    }

    @include mq() {
      pointer-events: auto;
      position: static;
      opacity: 1;
      transition: 0s;
      margin-left: auto;
      padding: 0;
      background: transparent;
    }

    ul {
      display: flex;
      flex-direction: column;

      @include mq() {
        flex-direction: row;
      }
    }

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      height: $finger-size;

      @include mq() {
        margin-left: 1.5rem;
      }

      a {
        font-size: $font-size-small;
        transition: 0.4s;

        &:hover {
          color: $color-red;
        }
      }

      &.active {
        a {
          color: $color-red;
        }
      }
    }
  }
}
