.Contact {
  background-color: $color-white;

  padding-top: 6em;
  padding-bottom: 6em;

  &-details {
    margin-top: 2.5em;

    display: flex;
    flex-direction: column;

    @include mq("desktop") {
      flex-direction: row;
    }

    h4 {
      margin-bottom: 1.2em;
    }

    &-address {
      margin-bottom: 4em;

      @include mq() {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      @include mq("desktop") {
        width: 40%;
        margin-bottom: 0;
      }

      &-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.1em;

        &-item {
          display: flex;
          align-items: center;

          margin-bottom: 1em;

          span {
            color: $color-red;
            width: 7%;
          }

          p {
            letter-spacing: 0.5px;
          }
        }
      }

      &-map {
        border: 5px solid rgba($color-soft-grey, 0.2);

        iframe {
          width: 100%;
          min-height: 260px;
        }
      }
    }

    &-form {
      @include mq() {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      @include mq("desktop") {
        width: 60%;
        margin-bottom: 0;
        margin-left: 5em;
      }

      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        align-items: center;

        margin-bottom: 1.1em;

        label {
          width: 50%;

          @include mq() {
            width: 30%;
          }

          @include mq("desktop") {
            width: 25%;
          }

          color: $color-h4;
          font-weight: 700;

          span {
            text-align: center;
            color: $color-red;
            width: 15%;
            margin-right: 0.6em;
          }
        }

        input,
        textarea {
          width: 100%;
          padding: 0.9em 1.3em;
          color: $color-input;
        }

        button {
          margin-left: auto;
          margin-top: 1em;
          padding: 15px 40px;

          background-color: $color-red;
          color: $color-white;

          border: 2px solid $color-red;
          border-radius: 6px;

          transition: 0.2s;
          text-transform: uppercase;

          &:hover {
            color: $color-dark;
            background-color: $color-white;
            border-color: $color-dark;
          }
        }
      }
    }
  }
}
