.Contact {
  background-color: $color-white;

  padding-top: 5em;
  padding-bottom: 5em;

  &-details {
    padding-top: 2.5em;

    display: flex;
    flex-direction: column;

    @include mq("desktop") {
      flex-direction: row;
    }

    h4 {
      margin-bottom: 1.2em;
    }

    &-address {
      margin-bottom: 4em;

      @include mq() {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      @include mq("desktop") {
        width: 35%;
        margin-bottom: 0;
      }

      &-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        &-item {
          display: flex;
          align-items: center;

          margin-bottom: 0.8em;

          span {
            margin-right: 1.7em;
            color: $color-red;
          }

          p {
            letter-spacing: 0.5px;
            line-height: 1.8em;
            display: block;
          }
        }
      }

      &-map {
        border: 5px solid rgba($color: $color-soft-grey, $alpha: 0.2);

        iframe {
          width: 100%;
          min-height: 260px;
        }
      }
    }

    &-form {
      @include mq() {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      @include mq("desktop") {
        width: 65%;
        margin-bottom: 0;
        margin-left: 4em;
      }

      display: flex;
      flex-direction: column;

      &-item {
        display: flex;
        align-items: center;

        margin-bottom: 1em;

        label {
          width: 32%;
          @include mq("desktop") {
            width: 17%;
          }
          color: $color-h4;
          font-weight: 700;
          span {
            color: $color-red;
            margin-right: 0.8rem;
          }
        }

        input,
        textarea {
          width: 68%;

          @include mq() {
            width: 100%;
          }

          @include mq("desktop") {
            width: 83%;
          }

          padding: 0.9em 1.3em;
          font-size: 1em;
          letter-spacing: 1px;
          color: $color-input;
          border: none;
          border: 1px solid $color-border;
          background: none;
          border-radius: 5px;
        }

        button {
          cursor: pointer;
          font-family: $font-family;
          padding: 15px 40px;
          margin-left: auto;
          margin-top: 1em;

          color: $color-white;
          background-color: $color-red;
          border-radius: 6px;
          border: 2px solid $color-red;
          font-weight: 500;
          transition: 0.2s;
          text-transform: uppercase;

          &:hover {
            color: $color-dark;
            background-color: $color-white;
            border-color: $color-dark;
          }
        }
      }
    }
  }
}
