.Experience {
  background-color: $bgcolor-experience;

  padding-top: 6em;
  padding-bottom: 6em;

  &-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 2em;

    @include mq("desktop") {
      flex-direction: row;
    }

    &-item {
      margin-bottom: 1.2em;

      @include mq() {
        margin-bottom: 1.5em;
      }

      @include mq("desktop") {
        max-width: 32%;
        margin-bottom: 0;
      }

      box-sizing: border-box;

      &-text {
        background-color: $color-white;
        padding: 2em;

        span {
          background-color: $color-red;
          color: $color-white;
          padding: 0.25em 0.95em;
          font-size: 0.8em;
        }

        h4 {
          font-size: 1.2em;
          margin-top: 0.3em;
          margin-bottom: 0.6em;
        }

        p {
          line-height: 1.9em;
          letter-spacing: 2px;
        }
      }
    }
  }
}
