.Services {
  background-color: $color-white;

  padding-top: 6rem;
  padding-bottom: 3rem;

  text-align: center;

  h6 {
    letter-spacing: 0.25em;
    margin-bottom: 2em;
  }

  &-title {
    margin-top: 2em;
    margin-bottom: 4em;

    @include mq("desktop") {
      margin-bottom: 5em;
      margin-top: 2.5em;
    }

    p {
      margin-top: 1.3em;

      color: $color-soft-grey;
      font-size: 1.3em;
      letter-spacing: 0.075em;
      line-height: 1.5em;
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @include mq() {
      padding-left: $gutter * 2;
      padding-right: $gutter * 2;
    }

    @include mq("desktop") {
      padding-left: $gutter;
      padding-right: $gutter;
      flex-direction: row;
    }

    &-item {
      display: inline-flex;

      margin-bottom: 5em;

      @include mq("desktop") {
        max-width: 50%;
        margin-bottom: 6em;
      }

      &-icon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;

        width: 60px;
        height: 60px;
        border-radius: 50%;
        font-size: 1.4em;

        background-color: $color-dark;
        color: $color-white;
      }

      &-text {
        margin-left: 2em;
        margin-right: 1em;

        @include mq() {
          margin-right: 2em;
        }

        & > h4 {
          color: $color-red;
          text-align: left;
        }

        & > p {
          margin-top: 0.5em;

          @include mq() {
            margin-top: 1.3em;
          }

          color: $color-grey-2;

          font-size: 1em;
          text-transform: capitalize;
          text-align: justify;
        }
      }
    }
  }
}
